.app {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid lightgray;
  background-color: #fff;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-box {
  width: 75px;
  height: 75px;
  border: 1px solid black;
}
